{% extends 'base_generic.html' %} {% block title %}Forgot Your Password?{% endblock %} {% block content %}
<div class="bg bg-white">
    <h1>
        <font style="color:blanchedalmond;">Forgot your password?</h1>
    <p>
        <font style="color:rgb(205, 235, 255);"></font>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Send me instructions!">
    </form>

</div>
{% endblock %}